{% extends 'shop/includs/base.html' %}
{% load static %}


{% block content %}
			
	<aside id="fh5co-hero" class="js-fullheight">
		{% for cl in carousel_list %} 
		<div class="flexslider js-fullheight">
			<ul class="slides">
			<li style="background-image: url({{ cl.image.url }})">
				<div class="overlay-gradient"></div>
				<div class="container">
					<div class="col-md-6 col-md-offset-3 col-md-pull-3 js-fullheight slider-text">
						<div class="slider-text-inner">
							<div class="desc">
								<h2>{{ cl.name }}</h2>
								<p>{{ cl.description }}</p> 
							</div>
						</div>
					</div>
				</div>
			</li>
		{% endfor %}
	</aside>



	<div id="fh5co-product">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>BARO</h2>
					<p>Какие модные сумки окажутся в центре внимания тенденций сезона? Мы знаем все о ключевых трендах.</p>
				</div>
			</div>
			{% for product in products %}
			<div class="row">
				<div class="col-md-4 text-center animate-box">
					<div class="product">
						<div class="product-grid" style="background-image: url({{ product.image.url }})">
							<div class="inner">
								<!-- <p>
									<a href="{{ product.get_absolute_url }}" class="icon"><i class="icon-shopping-cart"></i></a>
									<a href="{{ product.get_absolute_url }}" class="icon"><i class="icon-eye"></i></a>
								</p> -->
							</div>
						</div>
						<div class="desc">
							<h3><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
							<span class="price"> {{ product.price }} ₽</span>
						</div>
					</div>
				</div>
			{% endfor %}           
	</div>
	</aside>

	<div id="fh5co-testimonial" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h3>Отзывы покупателей</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row animate-box">
						<div class="owl-carousel owl-carousel-fullwidth">
							<div class="item">
								<div class="testimony-slide active text-center">
									<span>Елена Томилова <a href="#" class="twitter">WildBerries</a></span>
									<blockquote>
										 Добрый день, друзья! Приобрела я недавно очень интересную сумочку. Как ее увидела, сразу влюбилась. Дизайн супер оригинальный, никогда не видела ничего подобного. К тому же она из натуральной кожи и стоит недорого.Сумка состоит из двух больших асимметричных равноценных отделений. А между ними еще отделение, на магните. Производитель отечественный, очень приятно. Бантик из кожи съемный
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									<span>Лариса Учуева <a href="#" class="twitter">Отзовик</a></span>
									<blockquote>
										<p>&ldquo; Сумка мягкая. Очень приятная на ощупь. За год почти ежедневного использования сумка не утратила свой вид. До сих пор выглядит, как новая. Ни одной потёртости. Подклад целый. Никаких намеков на дырочки)) Цвет не выгорел, по-прежнему черный. 
											Очень рада, что приобрела эту сумку. Прослужит ещё не один год. Сумок много не бывает
											&rdquo;</p>
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									<span>Болатова Елена <a href="#" class="twitter">La moda</a></span>
									<blockquote>
										<p>&ldquo; Отличная сумочка!!! Очень вместительная. Внутри все аккуратно, подклад мягкий (не синтетика). Молнии на сумке металлические. Форму держит. Вообщем классная сумочка, рекомендую! Спасибо!&rdquo;</p>
									</blockquote>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-counter" class="fh5co-bg fh5co-counter" style="background-image:url(images/img_bg_5.jpg);">
		<div class="container">
			<div class="row">
				<div class="display-t">
					<div class="display-tc">
						<div class="col-md-3 col-sm-6 animate-box">
							<div class="feature-center">
							</div>
						</div>
						<div class="col-md-3 col-sm-6 animate-box">
							<div class="feature-center">
								<span class="icon">
									<i class="icon-shopping-cart"></i>
								</span>

								<span class="counter js-counter" data-from="0" data-to="1450" data-speed="5000" data-refresh-interval="50">1</span>
								<span class="counter-label">Счастливых покупателей</span>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 animate-box">
							<div class="feature-center">
								<span class="icon">
									<i class="icon-shop"></i>
								</span>
								<span class="counter js-counter" data-from="0" data-to="200" data-speed="5000" data-refresh-interval="50">1</span>
								<span class="counter-label">Товарный позиций</span>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 animate-box">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
{% endblock  %}

